targets:
  instance: ${TEST_URL:http://localhost:8087}
  camunda: ${CAMUNDA_URL:http://camunda-bpm/engine-rest}
  workflow: ${WA_WORKFLOW_API_URL:http://localhost:8099}

launch_darkly:
  url: ${LAUNCH_DARKLY_URL:https://app.launchdarkly.com/api/v2/flags/Work-Allocation/}
  accessToken: ${LAUNCH_DARKLY_ACCESS_TOKEN:token}
core_case_data:
  api:
    url: ${CCD_URL:http://ccd-data-store-api}

document_management:
  url: ${DM_STORE_URL:http://local-dm-store}

ccd_gateway:
  url: ${CCD_GW_URL:http://ccd-api-gateway}

idam:
  test:
    userCleanupEnabled: ${ENABLE_TEST_USER_DELETION:false}
    username: ${TEST_WA_LAW_FIRM_USERNAME:some_user@hmcts.net}
    password: ${TEST_WA_LAW_FIRM_PASSWORD:password}
    test-account-pw: ${IDAM_TEST_ACCOUNT_PW:password}

#Point to in memory database which enables spring context to start and run ft tests against TEST_URL
spring.flyway.enabled: false

spring:
  datasource:
    driverClassName: org.h2.Driver
    url: jdbc:h2:mem:wa_workflow_api
    username: sa
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: none
      default_schema: cft_task_db
config:
  allowedJurisdictions: ${ALLOWED_JURISDICTIONS:wa,ia,sscs,civil,PUBLICLAW,PRIVATELAW,EMPLOYMENT,ST_CIC}
  allowedCaseTypes: ${ALLOWED_CASE_TYPES:asylum,wacasetype,sscs,civil,generalapplication,CARE_SUPERVISION_EPO,PRLAPPS,ET_EnglandWales,ET_EnglandWales_Listings,ET_EnglandWales_Multiple,ET_Scotland,ET_Scotland_Listings,ET_Scotland_Multiple,ET_Admin,privatelaw_exceptionrecord,benefit,CriminalInjuriesCompensation}
  taskMandatoryFieldCheckEnabled: ${MANDATORY_TASK_FIELD_CHECK_ENABLED:true}
  taskMandatoryFields: ${MANDATORY_TASK_FIELDS:taskName,taskId,taskType,dueDateTime,state,securityClassification,title,majorPriority,minorPriority,executionTypeCode,caseId,caseTypeId,caseCategory,caseName,jurisdiction,region,location,created,roleCategory,workTypeResource}
  initiationRequestRequiredFields: ${INITIATION_REQUEST_REQUIRED_FIELDS:name,taskType,caseId}
  fieldsToExcludeFromTrim: ${FIELDS_TO_EXCLUDE_FROM_TRIM:description,title,caseName}
  fieldsThatCannotBeNull: ${FIELDS_CANNOT_BE_NULL:title}

initiation_job_running: ${INITIATION_JOB_RUNNING:false}
