server:
  port: 8087

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

config:
  privilegedAccessClients: ${TASK_MANAGEMENT_PRIVILEGED_CLIENTS:wa_task_management_api,xui_webapp,ccd_case_disposer}
  exclusiveAccessClients: ${TASK_MANAGEMENT_EXCLUSIVE_CLIENTS:wa_task_management_api,wa_task_monitor,wa_case_event_handler,wa_workflow_api}
  allowedJurisdictions: ${ALLOWED_JURISDICTIONS:ia,wa,sscs,civil,publiclaw,privatelaw,employment,st_cic}
  allowedCaseTypes: ${ALLOWED_CASE_TYPES:asylum,wacasetype,sscs,civil,generalapplication,care_supervision_epo,prlapps,et_englandwales,et_englandwales_listings,et_englandwales_multiple,et_scotland,et_scotland_listings,et_scotland_multiple,et_admin,privatelaw_exceptionrecord,benefit,CriminalInjuriesCompensation}
  taskMandatoryFieldCheckEnabled: ${MANDATORY_TASK_FIELD_CHECK_ENABLED:true}
  taskMandatoryFields: ${MANDATORY_TASK_FIELDS:taskName,taskId,taskType,dueDateTime,state,securityClassification,title,majorPriority,minorPriority,executionTypeCode,caseId,caseTypeId,caseCategory,caseName,jurisdiction,region,location,created,roleCategory,workTypeResource}
  initiationRequestRequiredFields: ${INITIATION_REQUEST_REQUIRED_FIELDS:name,taskType,caseId}
  search:
    defaultMaxResults: 50
  fieldsToExcludeFromTrim: ${FIELDS_TO_EXCLUDE_FROM_TRIM:description,title,caseName}
  fieldsThatCannotBeNull: ${FIELDS_CANNOT_BE_NULL:title}

core_case_data:
  api:
    url: ${CCD_URL:http://ccd-data-store-api}

camunda:
  url: ${CAMUNDA_URL:http://camunda-bpm/engine-rest}

role-assignment-service:
  url: ${ROLE_ASSIGNMENT_URL:http://role-assignment}
  maxResults: ${ROLE_ASSIGNMENT_MAX_RESULTS:50}

security:
  anonymousPaths:
    - "/"
    - "/health"
    - "/health/liveness"
    - "/health/readiness"
    - "/loggers/**"
    - "/swagger-resources/**"
    - "/swagger-ui/**"
    - "/swagger-ui/index.html"
    - "/v3/**"
    - "/favicon.ico"

auth:
  provider:
    service:
      client:
        baseUrl: ${S2S_URL:http://service-auth-provider-api}

idam:
  baseUrl: ${OPEN_ID_IDAM_URL:http://sidam-api}
  redirectUrl: ${IA_IDAM_REDIRECT_URI:http://xui-webapp/oauth2/callback}
  scope: "openid profile roles"
  s2s-auth:
    url: ${S2S_URL:http://service-auth-provider-api}
    secret: ${S2S_SECRET_TASK_MANAGEMENT_API:AAAAAAAAAAAAAAAA}
    name: ${S2S_NAME_TASK_MANAGEMENT_API:wa_task_management_api}
  s2s-authorised:
    services: ${WA_S2S_AUTHORIZED_SERVICES:ccd,ccd_data,ccd_gw,ccd_ps,iac,wa_task_management_api,xui_webapp,wa_task_monitor,camunda_bpm,wa_workflow_api,wa_case_event_handler,ccd_case_disposer}
  api:
    baseUrl: ${IDAM_URL:http://sidam-api}
  system:
    username: ${WA_SYSTEM_USERNAME:some_user@hmcts.net}
    password: ${WA_SYSTEM_PASSWORD:password}

springdoc:
  swagger-ui:
    enabled: true
    operationsSorter: method
  writer-with-order-by-keys: true

replication:
  username: ${REPLICATION_USERNAME:repl_user}
  password: ${REPLICATION_PASSWORD:repl_password}
  subscriptionUrl: postgresql://${POSTGRES_CLUSTER_HOST:localhost}:${POSTGRES_PORT:5432}
primary:
  username: ${POSTGRES_USERNAME:wa_user}
  password: ${POSTGRES_PASSWORD:wa_password}

spring:
  mvc:
    pathmatch:
      matching-strategy: ANT_PATH_MATCHER
  config:
    import: "optional:configtree:/mnt/secrets/wa/"
  application:
    name: WA Task Management
  main:
    allow-bean-definition-overriding: true
  datasource:
    driverClassName: org.postgresql.Driver
    jdbcUrl: jdbc:postgresql://${POSTGRES_HOST:localhost}:${POSTGRES_PORT:5432}/${POSTGRES_NAME:cft_task_db}${POSTGRES_CONNECTION_OPTIONS:}
    username: ${POSTGRES_USERNAME:postgres}
    password: ${POSTGRES_PASSWORD:}
  datasource-replica:
    driverClassName: org.postgresql.Driver
    jdbcUrl: jdbc:postgresql://${POSTGRES_REPLICA_HOST:ccd-shared-database-replica}:${POSTGRES_REPLICA_PORT:5433}/${POSTGRES_REPLICA_NAME:cft_task_db}${POSTGRES_CONNECTION_OPTIONS:}
    username: ${REPLICATION_USERNAME:postgres}
    password: ${REPLICATION_PASSWORD:}
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      naming:
        physical-strategy: io.hypersistence.utils.hibernate.naming.CamelCaseToSnakeCaseNamingStrategy
    properties:
      hibernate:
        query:
          in_clause_parameter_padding: true
        default_schema: ${POSTGRES_NAME:cft_task_db}
        dialect: "uk.gov.hmcts.reform.wataskmanagementapi.config.CustomPostgreSQL94Dialect"
        physical_naming_strategy: "org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy"
  flyway:
    enabled: true
    baselineOnMigrate: true
    defaultSchema: ${POSTGRES_NAME:cft_task_db}
    schemas: ${POSTGRES_NAME:cft_task_db}
    placeholders:
      dbPrimaryUserName: ${POSTGRES_USERNAME}
      dbReplicaUserName: ${REPLICATION_USERNAME}
      dbReaderUserName: ${DB_READER_USERNAME:postgres}
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${OPEN_ID_IDAM_URL:http://sidam-api}/o/jwks
      client:
        provider:
          oidc:
            issuer-uri: ${OPEN_ID_IDAM_URL:http://sidam-api}/o
        registration:
          oidc:
            client-id: ${WA_IDAM_CLIENT_ID:wa}
            client-secret: ${WA_IDAM_CLIENT_SECRET:something}

feign:
  client:
    config:
      default:
        connectTimeout: 30000
        readTimeout: 30000
        loggerLevel: FULL

launchDarkly:
  sdkKey: ${LAUNCH_DARKLY_SDK_KEY:sdk-key}
  connectionTimeout: 5000
  socketTimeout: 5000

environment: ${ENVIRONMENT:local}

logging:
  level:
    root: INFO
    uk.gov.hmcts.reform.wataskmanagementapi.clients.*: INFO
    org.zalando.logbook: INFO
    org.testcontainers: INFO
    com.github.dockerjava: INFO

logbook:
  include: /task/**

caffeine:
  timeout:
    duration: 30
    unit: MINUTES
  task-type:
    timeout:
      duration: ${TASK_TYPE_CACHE_TIMEOUT_DURATION:60}
      unit: ${TASK_TYPE_CACHE_TIMEOUT_TIMEUNIT:MINUTES}
  calendar:
    timeout:
      duration: ${CALENDAR_CACHE_TIMEOUT_DURATION:24}
      unit: ${CALENDAR_CACHE_TIMEOUT_TIMEUNIT:HOURS}

bankHolidays:
  api:
    url: "https://www.gov.uk"
