java:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_NAME}.preview.platform.hmcts.net
  keyVaults:
    wa:
      secrets:
        - name: AppInsightsInstrumentationKey
          alias: azure.application-insights.instrumentation-key
        - name: wa-system-username
          alias: WA_SYSTEM_USERNAME
        - name: wa-system-password
          alias: WA_SYSTEM_PASSWORD
        - name: wa-idam-client-secret
          alias: WA_IDAM_CLIENT_SECRET
        - name: s2s-secret-task-management-api
          alias: S2S_SECRET_TASK_MANAGEMENT_API
        - name: ld-secret
          alias: LAUNCH_DARKLY_SDK_KEY
        - name: cft-task-POSTGRES-PASS-FLEXIBLE
          alias: POSTGRES_PASSWORD
        - name: cft-task-POSTGRES-USER-FLEXIBLE
          alias: POSTGRES_USERNAME
  environment:
    CAMUNDA_URL: "http://camunda-api-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal/engine-rest"
    IDAM_URL: "https://idam-api.{{ .Values.global.environment }}.platform.hmcts.net"
    S2S_URL: "http://rpe-service-auth-provider-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    OPEN_ID_IDAM_URL: "https://idam-web-public.{{ .Values.global.environment }}.platform.hmcts.net"
    ROLE_ASSIGNMENT_URL: "http://am-role-assignment-service-{{ .Values.global.environment }}.service.core-compute-{{ .Values.global.environment }}.internal"
    POSTGRES_HOST: cft-task-postgres-db-flexible-{{ .Values.global.environment }}.postgres.database.azure.com
    POSTGRES_NAME: "{{ .Values.postgresql.auth.database}}"
    POSTGRES_CONNECTION_OPTIONS: ""
  postgresql:
    enabled: true
    auth:
      username: wa_user
      password: password
      database: cft_task_db
    primary:
      initdb:
        user: postgres
        scripts:
          init.sql: |
            ALTER ROLE wa_user WITH SUPERUSER;
