spring:
  test:
    context:
      cache:
        maxSize: 1
  datasource:
    driverClassName: uk.gov.hmcts.reform.wataskmanagementapi.db.TCExtendedContainerDatabaseDriver
    jdbcUrl: jdbc:tc:postgresql:11.4://localhost/cft_task_db
    hikari:
      minimum-idle: 1
      connectionTimeout: 10000
      idleTimeout: 30000
      maxLifetime: 60000
  datasource-replica:
    driverClassName: uk.gov.hmcts.reform.wataskmanagementapi.db.TCExtendedContainerDatabaseDriver
    jdbcUrl: jdbc:tc:postgresql:11.4://localhost/cft_task_db_replica
    hikari:
      minimum-idle: 1
      connectionTimeout: 10000
      idleTimeout: 30000
      maxLifetime: 60000
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: https://idam-web-public.aat.platform.hmcts.net/o/jwks
      client:
        provider:
          oidc:
            issuer-uri: https://idam-web-public.aat.platform.hmcts.net/o


  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      naming:
        physical-strategy: io.hypersistence.utils.hibernate.naming.CamelCaseToSnakeCaseNamingStrategy
    properties:
      hibernate:
        default_schema: cft_task_db
        dialect: "uk.gov.hmcts.reform.wataskmanagementapi.config.CustomPostgreSQL94Dialect"
  #        show_sql: true
  #        format_sql: true
  flyway:
    enabled: true
    baselineOnMigrate: true
    defaultSchema: cft_task_db
    schemas: cft_task_db
    placeholders:
      dbPrimaryUserName: wa_user
      dbReplicaUserName: repl_user
replication:
  subscriptionUrl: postgresql://cft_task_db:5432

idam:
  test:
    username: ${TEST_WA_LAW_FIRM_USERNAME:some_user@hmcts.net}
    password: ${TEST_WA_LAW_FIRM_PASSWORD:password}

environment: ${ENVIRONMENT:local-arm-arch}

role-assignment-service:
  url: http://localhost:8888

document_management:
  url: ${DM_STORE_URL:http://local-dm-store}

ccd_gateway:
  url: ${CCD_GW_URL:http://ccd-api-gateway}

logging:
  level:
    org.springframework:
      dao: debug
      transaction: debug
      jdbc.core.JdbcTemplate: info
    #    org.hibernate:
    #      SQL: debug
    #      type.descriptor.sql.BasicBinder: debug
    #      engine: debug
    uk.gov.hmcts.reform: debug
config:
  allowedJurisdictions: ${ALLOWED_JURISDICTIONS:wa,ia,sscs,civil,PUBLICLAW,PRIVATELAW,EMPLOYMENT}
  allowedCaseTypes: ${ALLOWED_CASE_TYPES:asylum,wacasetype,sscs,civil,generalapplication,CARE_SUPERVISION_EPO,PRLAPPS,ET_EnglandWales,ET_EnglandWales_Listings,ET_EnglandWales_Multiple,ET_Scotland,ET_Scotland_Listings,ET_Scotland_Multiple,ET_Admin,benefit}
